
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url(./office-implements-black-table_23.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    padding: 40px;
    backdrop-filter: blur(3px) saturate(200%);
    -webkit-backdrop-filter: blur(3px) saturate(200%);
    background-color: rgba(0, 0, 0, 0.29);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    animation: fadeIn 1s ease-in-out;
}

.title {
    font-size: 2.5em;
    color: whitesmoke;
    margin-bottom: 20px;
    animation: slideIn 1s ease-in-out;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.input-field {
    padding: 10px 15px;
    font-size: 1.2em;
    border: 2px solid #6a11cb;
    border-radius: 5px;
    background-color: transparent;
    width: 200px;
    transition: all 0.3s ease;
    color: whitesmoke;
}

.input-field:focus {
    border-color: #2575fc;
    outline: none;
    box-shadow: 0px 0px 10px rgba(37, 117, 252, 0.5);
}

.btn {
    padding: 10px 20px;
    font-size: 1.2em;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:active {
    background-color: #6a11cb;
    transform: scale(.9);
}

.reset-btn {
    padding: 10px 35px;
    margin-top: 1rem;
}
.result {
    text-align: center;
    padding: 40px;
    backdrop-filter: blur(3px) saturate(200%);
    -webkit-backdrop-filter: blur(3px) saturate(200%);
    background-color: rgba(0, 0, 0, 0.29);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    animation: fadeIn 1s ease-in-out;
    margin-bottom: 1rem;
    width: 400px;
}

.result #output {
    font-size: 1.5em;
    color: whitesmoke;
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@media only screen and (max-width: 480px) {
   
    body{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .container{
        width: 250px;
    }
    .calculator{
        flex-direction: column;
    }

    .container h1{
        font-size: 1.5rem;
    }
    

    .result {
        font-size: 1.2em;
        width: 250px;
    }

    .result #output{
        font-size: 1em;
    }

    .reset-btn{
        margin-left: 0
    }
}

@media  (max-width: 600px) and (min-width: 426px) {
    .title {
        font-size: 1.5em;
    }

    .container{
        width: 300px;
    }
    
    .input-field, .btn {
        font-size: 1em;
        padding: 10px;
    }

    .result {
        font-size: 1.2em;
        width: 300px;
    }
}